

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    max-width: 1200px;
}

.sidebar {
    background-color: #d85927;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.profile {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 280px;
    width: calc(100% - 280px);
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}
.cart-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.order-header{
    display: flex;
    flex-direction: column;
    text-align: center; /
}

.profile-content {
    padding-top: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-items .border {
    border-color: #cbd5e0;
}

.cart-items img {
    border-radius: 8px;
    display: block; /* To center the image */
}

.cart-items p {
    margin: 0;
}

.cart-summary {
    background-color: #edf2f7;
    padding: 20px;
    border-radius: 10px;
}

.cart-summary h2 {
    margin-bottom: 10px;
}

.cart-summary .flex {
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart-summary button {
    cursor: pointer;
}
